/*
  Color cards

  List colors as shade cards

  Markup:
  ../markup/color-component.html

  Styleguide 4.1  
 */   
.twsg-style{

  .twsg-colors-list{
    list-style: none;
    padding: 0;
    margin: 0 0 20px;

    &__item{
      display: block;
      width: 100%;
      height: 55px;
      padding: 0 10px;
      line-height: 55px;
      text-align: left;
      color: #FFFFFF;
      font-family: monospace;
      font-size: 16px;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
      .box-sizing(border-box);
      .transition(all 0.3s 0s ease-out);

      &:hover{
        transform: scale(1.02);
      }

      &--header{
        display: table;
        text-align: left;
        text-shadow: none;
        .twsg-clr-txt-earth-6;
        .transition(none);

        .twsg-h3{
          display: table-cell;
          vertical-align: middle;
          margin: 0;
        }

        &:hover{
          transform:none;
        }
      }
    }
  }
}

/*
  Main Menu

  The styling of the main menu.
  
  .twsg-nav--pink - Pink Theme
  .twsg-nav--blue - Blue Theme
  .twsg-nav--orange - Orange Theme
  .twsg-nav--red - Red Theme

  Markup:
  ../markup/main-nav.html

  Styleguide 4.2
 */
.twsg-style{
  .twsg-nav{
    height: 60px;
    margin: 0;
    .twsg-clr-bg-earth-6;

    .clearfix();

    &__logo{
      display: block;
      float: left;
      width: 127px;
      height: 31px;
      margin: 15px 0 14px 15px;
      
      &-img{
        width: 100%;
        max-width: 100%;
      }
    }

    &__toggle{
      width: 40px;
      height: 40px;
      background: transparent url('./nav-toggle.png') no-repeat center center;
      margin: 10px 15px 10px 0;
      padding: 0;
      border: none;
      float: right;

      @media (min-width: @twsg-screen-md) {
        display: none;
      }
    }

    &-menu{
      float: right;
      margin: 0 15px;
      padding: 0;
      list-style: none;
      display: none;

      .clearfix();

      &__item{
        float: left;
        position: relative;
        font-weight: @twsg-font-semi-bold;
        
        &-link{
          display: block;
          padding: 0 7px;
          font-size: 16px;
          line-height: 60px;
          text-decoration: none;
          color: #FFFFFF;
          .transition(all 0.2s 0s ease-out);
        }

        &:hover{
          
          .twsg-nav-menu__item-link{
            background-color: @clr-menu-hover;
            .twsg-clr-txt-earth-6;
          }

          .twsg-nav-menu-l2{
            display: block;
          }
        }
      }

      @media (min-width: @twsg-screen-md) {
        display: block;
      }
    }

    &--blue{
      .twsg-clr-bg-cool-5;
      
      .twsg-nav-menu__item{
        &:hover{
          .twsg-nav-menu__item-link{
            .twsg-clr-txt-cool-5;
          }
        }
      }
    }

    &--pink{
      .twsg-clr-bg-bright-6;

      .twsg-nav-menu__item{
        &:hover{
          .twsg-nav-menu__item-link{
            .twsg-clr-txt-bright-6;
          }
        }
      }
    }

    &--orange{
      .twsg-clr-bg-bright-2;

      .twsg-nav-menu__item{
        &:hover{
          .twsg-nav-menu__item-link{
            .twsg-clr-txt-bright-2;
          }
        }
      }
    }

    &--red{
      .twsg-clr-bg-bright-3;

      .twsg-nav-menu__item{
        &:hover{
          .twsg-nav-menu__item-link{
            .twsg-clr-txt-bright-3;
          }
        }
      }
    }

    &-menu-l2{
      display: none;
      top:100%;
      right:0;
      min-width:160px;
      position: absolute;
      z-index: 1000;
      border:1px solid @clr-earth-5;
      background-color: #FFFFFF;
      border: 1px solid rgba(0,0,0,.15);
      .box-shadow(0 6px 12px rgba(0,0,0,.175));
      overflow: hidden;
      list-style: none;
      margin: 0;
      padding: 5px 0;

      &__item{
        float: none;
        clear: both;
        display: block;
        white-space: nowrap;
        font-weight: @twsg-font-light;

      
        &-link{
          font-size: 14px;
          line-height: 25px;
          display: block;
          padding: 0 10px;
          text-decoration: none;
          .twsg-clr-txt-earth-6;

          &:hover{
            background-color: @clr-menu-hover;
            text-decoration: none;
          }
        }
      }
    }
  }
}

  .twsg-nav-menu-mb{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    background: @clr-earth-5;
    z-index: 10;
    list-style: none;
    .transition(all 0.3s 0s ease-out);
    right: 100%;

    &.active{
      right: 0;
      overflow: auto;
    }

    &__item,&-l2__item{
      border-bottom: 1px solid lighten(@clr-earth-5, 15%);
      padding-left: 0;
      clear: both;

      &-link{
        color: #FFFFFF;
        display: block;
        padding: 12.5px;
        font-weight: @twsg-font-light;
        text-decoration: none;

        &:hover{
          background: lighten(@clr-earth-5, 15%);
        }
      }

      &--l2{
        .twsg-nav-menu-mb__item-link{
          padding-left: 37.5px;
           &:before{
            content: '>';
            margin-right: 12.5px;
            font-family: cursive;
          }
        }
      }

      &--close{
        .clearfix();
        .twsg-nav-menu-mb__item-link{
          display: inline-block;
          float: right;
        }
      }
    }  

    @media (min-width: @twsg-screen-md) {
      display: none;
    }
  }

 /*
  Hero Styleguide

  .twsg-hero--style-1 - Background One
  .twsg-hero--style-2 - Background Two
  .twsg-hero--style-3 - Background Three

  Markup:
  ../markup/hero-styleguide.html

  Styleguide 4.3
  */
 .twsg-style{
  .twsg-hero{
    background-color: #1d1d1d;
    background-position: center center;
    background-repeat: no-repeat;
    .background-size(cover);
    width: 100%;
    height: 275px;
    position: relative;
    display: table;

    &--style-1{
      background-image: url('./wallpaper01.jpg');
    }

    &--style-2{
      background-image: url('./wallpaper02.jpg');
    }

    &--style-3{
      background-image: url('./wallpaper03.png');
    }
    
    .twsg-h1{
      &--hero-title{ 
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: #FFFFFF;
        padding: 0 5px;
      }
    }
  }
 }

/*
  Styleguide Section

  Markup:
  ../markup/article-section.html

  Styleguide 4.4   
*/
.twsg-style{
  .twsg-section{
    display: block;
    width: 100%;
    margin:0;
    padding:0;

    &-header{
      .twsg-h1{
        &--section-heading{
          margin: 10px 0;
          font-size: 27px;
          font-weight: @twsg-font-semi-bold;
          text-transform: none;
          letter-spacing: normal;

          @media (min-width: @twsg-screen-md) {
            font-size: 48px;
          }
        }
      }
    
      .twsg-h2{
        &--section-heading{
          margin: 10px 0;
          font-size: 27px;

          @media (min-width: @twsg-screen-md) {
            font-size: 38px;
          }
        }
      }

      .twsg-h3{
        &--section-heading{
          font-size: 16px;
          font-weight: @twsg-font-bold;
          font-style: italic;
          margin: 10px 0;
          padding-left: 0;

          @media (min-width: @twsg-screen-md) {
            font-size: 18px;
          }
        }
      }
    }

    &__permalink{
      display: block;
      text-decoration: none;
      outline: none;
      position: relative;
      padding-left: 0;
      .twsg-clr-txt-earth-6;
      .transition(all 0.3s 0s ease-out);
        
      &:before{
        content:'#';
        display: block;
        opacity: 0;
        position: absolute;
        top:0;
        left:0;
        font-weight: @twsg-font-semi-bold;
      }

      &:hover{
        .twsg-clr-txt-bright-6;
        padding-left: 22px;
        &:before{
          opacity: 1;
        }
      }

      @media (min-width: @twsg-screen-md) {
        &:hover{
          padding-left: 35px;
        }
      }
    }

    &-markup{
      margin: 20px 0;

      &__toggle{
        .clearfix();
        line-height: 40px;
        padding:0 10px;
        background: #FFFFFF;
        border-radius: 4px;
        font-weight: 600;
        border: 1px solid #ddd;
        > a{
          float: right;
          display: block;
          width: 40px;
          height: 40px;
          background: url('./hide.png') no-repeat center center;
        }
      }

      .prettyprint{
        display: none;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border: 1px solid #ddd;
      }

      &.active{
        .twsg-section-markup__toggle{
          margin-bottom: -2px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          > a{
            background: url('./view.png') no-repeat center center;
          }
        }
        .prettyprint{
          display: block;
        }
      }
    }

    &-description{

      margin: 20px 0 0;

      *{
        font-size: 18px;
        line-height: 29px;
        font-weight: @twsg-font-normal;
        font-family: @twsg-font-family;
      }

      p,ul{
        padding:0;
        margin: 0 0 18px 0; 
      }

      &--main{
        @media (min-width: @twsg-screen-md) {
          *{ 
            font-size: 20px;
            margin: 0 0 20px 0;
          }
        }
      }

      pre *{
        font-family: monospace;
        font-size: 16px;
      }
    }

    &-parameters{
      display: table;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      border: 1px solid #DDDDDD;
      border-spacing: 0;
      border-collapse: collapse;
      background: #FFF;
      
      &__item{
        display: table-row;

        &:first-child{
          .twsg-section-parameters__code,
          .twsg-section-parameters__desc{
            background: #EEEEEE;
            border-top: 0;
          }
        }
      }
      &__code,&__desc{
        display: table-cell;
        padding: 8px;
        line-height: 22px;
        vertical-align: top;
        border: 1px solid #DDDDDD;
        font-family: @twsg-font-family;
        font-weight: 400;
        text-align: left;
      }
      &__code{
        > code{
          .code();
        }
      }
    }

    &-modifier{
      background: lighten(#EFEFEF,2%);
      &__heading{
        font-size: 20px;
        margin: 10px 0;
      }
      &__default-name{
        font-weight: @twsg-font-semi-bold;
        margin-bottom: 10px;
      }
      &__name-desc{
        > code{
          .code();
        }
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: @twsg-font-semi-bold;
      }
    }
  }
}

/*
  Tables

  Only works in the overview page

  Markup:
  ../markup/table.html

  Styleguide 4.5
 */
.twsg-overview{
  table{
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid #DDDDDD;
    border-spacing: 0;
    border-collapse: collapse;
    background: #FFF;

    th,td{
      display: table-cell;
      padding: 8px;
      line-height: 22px;
      vertical-align: top;
      border: 1px solid #DDDDDD;
      font-family: @twsg-font-family;
      font-weight: 400;
      text-align: left;

      > code{
        font-family: monospace;
        padding: 2px 4px;
        font-size: 90%;
        color: #c7254e;
        background-color: #f9f2f4;
        border-radius: 4px;
      }
    }

    thead{
      th,td{
        background: #EEEEEE;
        border-top: 0;
      }
    }
  }

  * {
    code{
      .code();
    }
    a{
      text-decoration: none;
      color: @clr-cool-6;
      &:hover{
        text-decoration: underline;
      }
    }
  }

  pre.prettyprint{
    code{
      background: transparent;
      font-size: 1em;
    }
  }
}

.twsg-style{
  .twsg-footer{
    background: @clr-earth-5;
    border: 1px solid @clr-earth-5;
    padding: 20px 0 15px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 27px;

    &-text,&-logo{
      text-align: center;
    }
    &-text{
      margin-bottom: 10px;
    }
     @media (min-width: @twsg-screen-md) {
       &-text{
        text-align: left;
        margin-bottom: 0;
       }
       &-logo{
          text-align: right;
        }
      }


    &__link{
      color: #FFFFFF;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
    &__img{
      width: 90px;
    }
  }
}