//Colors
@import "colors";

//Fonts
@twsg-font-family: "Open Sans", "Microsoft YaHei", "Hiragino Sans GB", "Hiragino Sans GB W3", "微软雅黑", "Helvetica Neue", Arial, sans-serif;
@twsg-font-light:300;
@twsg-font-normal:400;
@twsg-font-semi-bold:600;
@twsg-font-bold:700;
@twsg-font-extra-bold:800;

//Grid
@twsg-screen-xs : 400px;
@twsg-screen-sm : 600px;
@twsg-screen-md : 800px;
@twsg-screen-lg : 985px;
@twsg-grid-columns:12;
@twsg-grid-gutter-width:25px;

// Container sizes
// --------------------------------------------------

// Small screen / tablet
@container-tablet:             ((575px + @twsg-grid-gutter-width));
@container-sm:                 @container-tablet;

// Medium screen / desktop
@container-desktop:            ((775px + @twsg-grid-gutter-width));
@container-md:                 @container-desktop;

// Large screen / wide desktop
@container-large-desktop:      ((960px + @twsg-grid-gutter-width));
@container-lg:                 @container-large-desktop;



